button {
	background-color: #7a41ac;
	border: 1px solid #7a41ac;
	color: #fff;

	font-weight: 700;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	padding: 13px 22px;
	text-transform: uppercase;
	border-radius: 6px;
	text-align: center;
	text-decoration: none;
	display: block;
	outline: none;
	margin-top: 0.2rem;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
}

button:hover {
	background-color: #fff;
	color: #55198b;
	transition: all 0.3s ease 0s;
	transform: translateY(-3px);
}
