.modal {
	position: fixed;
	z-index: 500;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
}

.modalContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10% auto;
	width: 40%;
	height: 20%;
	padding: 10px 20px;
	background: #fff;
	box-shadow: 3px 2px 10px gray;
	border-radius: 20px;
	animation-name: modalopen;
}

.modalContent p {
	font-size: 1.2rem;
}

@keyframes modalopen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
