.outputArea {
	align-items: center;
	justify-content: center;
	text-align: center;
	display: flex;
	box-shadow: 3px 2px 10px gray;
	border-radius: 20px;
	flex-direction: column;
	width: 40rem;
	margin: 0 auto;
	background: #e7dddd5c;
	height: auto;
	min-height: 7rem;
	padding: 0 1rem;
}

.outputArea:hover {
	border: 1px solid gray;
}
