.inputArea {
	font-size: 1rem;
	letter-spacing: 1px;
	padding: 10px;
	line-height: 1.5;
	border: 1px solid #ccc;
	box-shadow: 3px 2px 10px gray;
	border-radius: 20px;
	background: #e7dddd5c;
}

.inputArea:focus {
	background: none repeat scroll 0 0 #ffffff;
	outline-width: 0;
	border: 2px solid #5aa9d1;
}
