.inputArea {
	font-size: 0.8rem;
	letter-spacing: 1px;
}
.inputArea {
	padding: 10px;
	line-height: 1.5;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px #999;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
}

.inputArea:focus {
	background: none repeat scroll 0 0 #ffffff;
	outline-width: 0;
	border: 2px solid rgb(125, 124, 131);
}
